<!doctype html>
<title>Декларация</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1>Декларация</h1>
  <div class="metanav">

  {% if not session.logged_in %}
        <ul>
      <li>
        <a class="info-ref" href="{{ url_for('info') }}">Декларанты</a>
      </li>
      <li>
        <a class="info-ref" href="{{ url_for('show_documents') }}">Документы</a>
      </li>
      <li>
        <a class="info-ref" href="{{ url_for('show_inspection') }}">Инспекции</a>
      </li>
      <li>
        <a class="info-ref" href="{{ url_for('show_income') }}">Доходы</a>
      </li>
    </ul>
    <a href="{{ url_for('login') }}">Войти</a>
  {% else %}
        <ul>
      <li>
        <a class="info-ref" href="{{ url_for('info') }}">Декларанты</a>
      </li>
      <li>
        <a class="info-ref" href="{{ url_for('show_documents') }}">Документы</a>
      </li>
      <li>
        <a class="info-ref" href="{{ url_for('show_inspection') }}">Инспекции</a>
      </li>
      <li>
        <a class="info-ref" href="{{ url_for('show_income') }}">Доходы</a>
      </li>
      <li>
        <a class="info-ref" href="{{ url_for('delete_all_data') }}">Удалить все данные</a>
      </li>
    </ul>
    <a href="{{ url_for('logout') }}">Выйти</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
