{% extends "layout.html" %}
{% block body %}
  <h2>Вход в систему</h2>
  {% if error %}<p class="error"><strong>Ошибка:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method="post">
    <dl>
      <dt>Имя пользователя:
      <dd><input type="text" name="username">
      <dt>Пароль:
      <dd><input type="password" name="password">
      <dd><input type="submit" value="Вход">
    </dl>
  </form>
{% endblock %}
