{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>Фамилия:
        <dd><input type="text" size="30" name="last_name">
        <dt>Имя:
        <dd><input type="text" size="30" name="first_name">
        <dt>Отчество:
        <dd><input type="text" size="30" name="middle_name">
        <dt>Номер ИНН:
        <dd><input type="text" size="30" name="inn_number">
        <dt>Дата рождения:
        <dd><input type="text" size="30" name="dob">
        <dt>Место рождения:
        <dd><input type="text" size="30" name="pob">
        <dd><input type="submit" value="Добавить">
      </dl>
    </form>
  {% endif %}
  <ul class="entries">
  {% for entry in entries %}
    <li><h2>Успешно добавлен в базу:</h2>{{ entry.last_name }} {{ entry.first_name }} {{ entry.middle_name }}
  {% else %}
    <li><em>Данных еще нет</em>
  {% endfor %}
  </ul>
{% endblock %}
