{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_inspection') }}" method="post" class="add-entry">
      <dl>
        <dt>Номер:
        <dd><input type="text" size="30" name="code">
        <dt>Название:
        <dd><input type="text" size="30" name="name">
        <dd><input type="submit" value="Добавить">
      </dl>
    </form>
  {% endif %}
  <ul class="entries">
  {% for inspection in inspections %}
    <li><h2>Успешно добавлен в базу:</h2>{{ inspection.code }} {{ inspection.name }}
  {% else %}
    <li><em>Данных еще нет</em>
  {% endfor %}
  </ul>
{% endblock %}
