{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_documents') }}" method="post" class="add-entry">
      <dl>
        <dt>Тип:
        <dd><input type="text" size="30" name="document_type">
        <dt>ИНН владельца:
        <dd><select name="owner">
          {% for owner in inn_list %}
          <option>{{ owner.inn }}</option>
          {% else %}
         <option>Данных еще нет</option>
          {% endfor %}
          </select>
        <dt>Серия:
        <dd><input type="text" size="30" name="series">
        <dt>Номер:
        <dd><input type="text" size="30" name="number">
        <dt>Дата выдачи:
        <dd><input type="text" size="30" name="date_of_issue">
        <dt>Кем выдан:
        <dd><input type="text" size="30" name="issued_by">
        <dd><input type="submit" value="Добавить">
      </dl>
    </form>
  {% endif %}
  <ul class="entries">
      <form action="{{ url_for('select_docs') }}" method="post" class="add-entry">
      <dl>
        <dt>Показать список документов для владельца, с ИНН:
        <dd><select name="select_owner">
          {% for owner in inn_list %}
          <option>{{ owner.inn }}</option>
          {% else %}
         <option>Данных еще нет</option>
          {% endfor %}
          </select>
          <dd><input type="submit" value="Показать">
          </dl>
          </form>
      <h2>Cписок документов для владельца: {{ owmer_name }} </h2>
    {% for doc in docs_list %}
    <li>{{ doc.document_type }} {{ doc.series }} {{ doc.number }}
  {% else %}
    <li><em>Данных еще нет</em>
  {% endfor %}
  </ul>
{% endblock %}
