{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_income') }}" method="post" class="add-entry">
      <dl>
        <dt>Номер:
        <dd><input type="text" size="30" name="code">
        <dt>Наименование:
        <dd><input type="text" size="30" name="name">
        <dd><input type="submit" value="Добавить">
      </dl>
    </form>
  {% endif %}
  <ul class="entries">
  {% for income in incomes %}
    <li><h2>Успешно добавлен в базу:</h2>{{ income.code }} {{ income.name }}
  {% else %}
    <li><em>Данных еще нет</em>
  {% endfor %}
  </ul>
{% endblock %}
